
body{
 	background: #43c6ac; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #43c6ac, #191654); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #43c6ac, #191654); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: #FFF;
	z-index: -1;
	font-family: 'Roboto', sans-serif;
}
h1{
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	margin-top: 5px;
	margin-bottom: 5px;
}

.firstColumn{
	text-transform: uppercase;
	font-weight: 500;
	padding-top: 15px;
	text-align: center;
	text-shadow: 0.5px 0.5px 0.3px rgba(0,0,0,0.5);
}
.dayOfWeek {
	font-weight: 300;
}
.fullDate{
	font-weight: 300;
}
.windSpeed{
	text-transform:lowercase;
}
.well{
	
	margin: 5px;
	z-index: 1;
}

input[type=checkbox] {
	visibility: hidden;
}

.thumbnail .fa{
	width: 100%;
	padding: 5px;
	font-size: 100px;

}


.tempFarenheit{
	display: none;
}


.display{
	display: block;
}
.offDisplay{
	
	display: none;
}


.checkbox {
	width: 158px;
	height: 38px;
	background: #333;
	margin: 20px 60px;

	border-radius: 50px;
	position: relative;
}
.checkbox:before {
	content: 'Celcius';
	position: absolute;
	top: 12px;
	left: 12px;
	height: 2px;
	color: #FFF;
	font-size: 15px;
}
.checkbox:after {
	content: 'Farenheit';
	position: absolute;
	top: 12px;
	left: 80px;
	height: 2px;
	color: #FFF;
	font-size: 15px;
}
.checkbox label {
	display: block;
	width: 78px;
	height: 22px;
	border-radius: 55px;

	transition: all .5s ease;
	cursor: pointer;
	position: absolute;
	top: 9px;
	z-index: 1;
	left: 1px;
	background: #ddd;
}
.checkbox input[type=checkbox]:checked + label {
	left: 72px;
	background: #26ca28;
}
.curatin{
	width: 100%;
	
}